<div class="sidebar">
    <ul class="list-group">
        @Ajax.ActionLink("Add Game", "AddGame","Admin",null,new AjaxOptions
   {
       UpdateTargetId = "adminContainer"
   })
    </ul>
</div>
<div class="container-fluid">
    <div id="adminContainer">

    </div>
</div>
